/* layout */

html {
  background: #f3f3f3 url(images/bg-body.png) repeat-x;
}

body {
  margin: 0;
  padding: 0;
  font: 8pt/150% Verdana, Helvetica, Sans-Serif;
  color: #494949;
}

#header {
  width: 100%;
  height: 100px;
}

#site-logo {
  position: absolute;
  left: 15px;
  top: 22px;
}

#site-name {
  position: absolute;
  left: 55px;
  top: 30px;
  font-weight: bold;
  font-size: 150%;
  color: #ffffff;
}

#header-right {
  position: absolute;
  right: 15px;
  top: 29px;
  text-align: right;
  color: #dddddd;
  font-size: 9pt;
}

#header-right a {
  color: #f2f2f2;
}

#header-right a:hover, #header-right a:active {
  color: #ffffff;
}

#infobar-left {
  position: absolute;
  left: 0;
  top: 55px;
  min-width: 70px;
  height: 25px;
  background: transparent url(images/bg-infobar-left.png) no-repeat;
  padding: 13px 0 0 25px;
}

#infobar-right {
  position: absolute;
  right: 0;
  top: 55px;
  min-width: 70px;
  height: 25px;
  background: transparent url(images/bg-infobar-right.png) no-repeat 100% 0;
  padding: 13px 25px 0 0;
  text-align: right;
}

#body {
  width: 100%;
}

.fixed-block {
  position: relative;
  margin: 20px auto 20px auto;
  padding: 0.75em;
  background: #ffffff url(images/bg-block.png) repeat-x;
  border: 1px solid #cccccc;
  width: 800px;
}

.message-block {
  position: relative;
  margin: 70px auto 20px auto;
  padding: 0.75em;
  background: #ffffff url(images/bg-block.png) repeat-x;
  border: 1px solid #cccccc;
  width: 400px;
}

.debug {
  margin: 25px 10px 0 10px;
  font-size: 0.9em;
}

/* general elements */

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: Verdana, Helvetica, Sans-Serif;
}

h1 {
  font-size: 150%;
  line-height: 130%;
  margin-bottom: 0.75em;
}

h2 {
  font-size: 130%;
  line-height: 130%;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 120%;
  line-height: 130%;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 100%;
  line-height: 130%;
  margin-bottom: 0.3em;
}

p {
  margin: 0.4em 0 0.8em;
  padding: 0;
  text-align: left;
}

a:link, a:visited {
  color: #027ac6;
  text-decoration: none;
}

a:hover {
  color: #0062a0;
  text-decoration: underline;
}

a:active {
  color: #5895be;
}

a.anchor {
  text-decoration: none;
  color: #494949;
}

dl {
  margin: 0.5em 0 1em 2em;
}

dl dt {
  margin: 1em 0 0.5em 0;
}

dl dd {
  margin: 0 0 0 3em;
}

ul {
  list-style-type: circle;
}

/* forms */

form {
  margin: 0;
  padding: 0;
}

input, button, select, textarea {
  font: 8pt/150% Verdana, Helvetica, Sans-Serif;
  color: #494949;
}

.form-field {
  margin: 0.4em 0 0.8em;
}

.form-field label {
  display: block;
}

.form-field input {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  margin: 0.2em 0 0;
  height: 1.5em;
}

.form-field select {
  margin: 0.2em 0 0;
  height: 1.85em;
}

.form-fieldset {
  background: #ffffff url(images/bg-fieldset.png) repeat-x 0 -1px;
  margin: 0.4em 0 0.8em;
  border: 1px solid #cccccc;  
}

.form-fieldset legend {
  font-weight: bold;
  color: #494949;
  padding: 0 0.5em;
}

.form-radio {
  margin: 0.2em 0;
}

.form-radiogroup {
  margin: 0.4em 0 0.8em 0;
}

.form-checkbox {
  margin: 0.4em 0 0.8em 0;
}

.form-checkgroup {
  margin: 0.4em 0 0.8em 0;
}

.form-checkgroup .form-checkbox {
  margin: 0.2em 0;
}

.form-submit {
  margin: 1.5em 0 0 0;
  text-align: right;
}

.form-button {
  width: 120px;
  height: 2.25em;
  margin: 0 0 0 0.75em;
}

.form-inline {
  margin: 0 0 0.8em;
}

.form-inline .form-field {
  display: inline;
}

.form-inline .form-field label {
  display: inline;
}

.form-inline .form-checkbox {
  display: inline;
}

.form-inline .form-button {
  width: auto;
  height: auto;
  margin: 0 0 0 0.5em;
}

.form-inline td {
  vertical-align: top;
}

.form-inline td p {
  margin: 0.4em 0 0.2em 0;
}

/* various styles */

table.info-list {
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: collapse;
}

table.info-list tr td {
  margin: 0;
  padding: 0.15em 1em 0.15em 0;
  vertical-align: top;
}

.error {
  color: #ff0000;
}

.warning {
  color: #ee0000;
}

.required {
  color: #aaaaaa;
}

.unread {
  font-weight: bold;
}

table.grid {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-bottom: 1px solid #cccccc;
}

table.grid th {
  margin: 0;
  padding: 0.2em 0.25em;
  background: #eeeeee;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  vertical-align: top;
  text-align: left;
}

table.grid td {
  margin: 0;
  padding: 0.2em 0.25em;
  border-top: 1px solid #dddddd;
  vertical-align: top;
}

table.grid tr.parent {
  background: #f8f8f8;
}

table.grid tr.parent td {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

table.grid tr.child td.first-column {
  padding-left: 3em;
}

table.grid tr.selected
{
  background: #e2e2ff;
}

.icon {
  vertical-align: -3px;
  margin-right: 0.1em;
}

.ui-datepicker-trigger, .ui-autocomplete-trigger {
  position: relative;
  left: -18px;
  top: 0.2em;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: normal;
}

.image-link {
  margin-right: 0.5em;
}

.image-link .icon {
  margin: 0;
}

.pager {
  text-align: center;
  margin-top: 0.75em;
}

.pager a {
  padding: 0.5em;
}

.pager-current {
  padding: 0.5em;
}

a img {
  border: none;
}

table.pane-layout {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: separate;
  border-spacing: 1em;
}

table.pane-layout td.left-pane, table.pane-layout td.top-pane, table.pane-layout td.bottom-pane {
  margin: 0;
  background: #ffffff url(images/bg-block.png) repeat-x;
  border: 1px solid #cccccc;
  padding: 0.75em;
  vertical-align: top;
}

table.pane-layout td.left-pane {
  width: 250px;
}

.sub-pane-wrapper {
  margin: -0.75em -0.75em -0.75em -0.75em;
}

table.sub-pane-layout {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: separate;
  border-spacing: 0.75em;
}

table.sub-pane-layout td.top-sub-pane, table.sub-pane-layout td.bottom-sub-pane {
  margin: 0;
  border: 1px solid #dddddd;
  padding: 0.5em;
  vertical-align: top;
}

table.sub-pane-layout td.top-sub-pane {
  width: 50%;
}

.history-info {
  color: #666666;
  font-size: 0.9em;
}

ul.changes {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

.comment-text {
  margin: 0.5em 0 1em 0;
  padding: 0.2em 0.3em;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f6f6f6;
}

.multi-line {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.attachment {
  margin: 0.5em 0 1em 0;
  padding: 0.2em 0.3em;
  background-color: #eeeeff;
}

#progress {
  font-weight: bold;
  font-size: 150%;
  color: #494949;
  margin: 10px;
}

#progress img {
  vertical-align: -8px;
  margin-right: 5px;
}
